<!DOCTYPE html>
<html ng-app='app'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shopular</title>

	<!-- Bootstrap Styles -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

	<!-- Site Styles -->
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<!-- Font(s) -->
	<link href="https://fonts.googleapis.com/css?family=Courgette|Muli" rel="stylesheet">

</head>
<body>

	<!--
		Header
	-->
	<header class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-8 offset-lg-2">
				<h1 class="logo">Shopular!</h1>
			</div>
		</div>
	</header>
	<!-- /header -->

	<!--
		Main Body Container
	-->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-8 offset-lg-2">
				<div class="table-responsive">
					<table class="table">
						<!-- Table Head -->
						<thead>
							<tr>
								<th class="name">Name</th>
								<th class="color">Color</th>
								<th class="quantity">Quantity</th>
								<th class="sale">On Sale</th>
								<th class="price">Amount Due</th>
							</tr>
						</thead>
						<!-- Table Body -->
						<tbody ng-controller='ItemsController as items'>
							<tr ng-repeat='item in items.itemList'>
								<td class="name">{{ item.name }}</td>
								<td class="color">{{ item.color }}</td>
								<td class="quantity">{{ item.quantity }}</td>
								<td class="sale"><img ng-if="item.discount > 0" src="https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png"></td>
								<td class="price">{{ (item.price - item.discount) * items.taxRate | currency:"$":2 }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Angular 1.5.8 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>

	<!-- Main JavaScript File -->
	<script src="js/main.js"></script>

</body>
</html>
